a:link, a:visited {
  text-decoration: none;
  color: black;
}

i {
  font-size: 1rem;
}

.inner {
  margin: 2% 15%;
}

.header {
  margin-top: 5%;
  margin-bottom: 0;
  text-align: center;
  font-size: 2vw;
  font-weight: 800;
}

.tourList {
  margin: 0 40%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}
.tourList select {
  margin-right: 5%;
}
.tourList select, .tourList option {
  font-size: 1vw;
}
.tourList button {
  font-size: 1vw;
}

.tourInform {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tourInform .sight {
  background-color: rgba(248, 248, 248, 0.767);
  margin-top: 5%;
  margin-right: 2%;
  width: 30vw;
}
.tourInform .sight.off {
  display: none;
}

img {
  width: 30vw;
  height: 15vw;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.sight_name {
  margin: 2% 0%;
}
.sight_name a {
  display: block;
  text-align: center;
  padding: 2% 0;
  font-size: 1.4vw;
}

.inform1, .inform2 {
  padding-left: 5%;
  padding-right: 5%;
}

.inform1 p {
  word-wrap: break-word;
  font-size: 1.2vw;
}

.inform2 {
  width: 28vw;
  font-size: 1.3vw;
}
.inform2 div:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  line-height: 1.5rem;
  height: 6rem;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.more {
  margin: 5% 30%;
}

.more a:hover {
  font-weight: bolder;
}

.notFind {
  display: none;
}

.notFind.on {
  display: block;
  font-size: 1.2vw;
  text-align: center;
  margin-top: 3.6vw;
}

.more.off {
  display: none;
}

.sight.on {
  position: relative;
  width: 80%;
  height: auto;
  margin-left: 20%;
  background-color: rgba(245, 245, 245, 0.918);
}
.sight.on .close_btn {
  display: block;
  position: absolute;
  top: 2vw;
  right: 5%;
  margin-bottom: 10%;
  font-size: 1.4rem;
}
.sight.on img {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
  height: auto;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.sight.on div {
  width: 100%;
}
.sight.on .inform2 {
  width: 100%;
}
.sight.on .inform2 div:first-child {
  width: 90%;
  height: auto;
  text-overflow: initial;
  overflow: initial;
  white-space: initial;
  line-height: 1.5rem;
  text-align: left;
  word-wrap: break-word;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
}

.close_btn.off {
  display: none;
}

@media (min-width: 1024px) {
  .sight_name a {
    font-size: 18px;
  }

  .inform1 p {
    font-size: 16px;
  }

  .inform2 {
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  img {
    width: 174px;
    height: 70%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }

  .sight_name {
    width: 174px;
    height: 20%;
  }

  .tourInform .sight {
    display: flex;
    height: 170px;
    width: 100%;
  }
  .tourInform .sight .m_css {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .tourInform .sight .inform1 p:last-child {
    display: none;
    background-color: #a6ddf5;
  }
  .tourInform .sight .inform2 {
    width: 90%;
  }
  .tourInform .sight .inform2 div:first-child {
    line-height: 1.5rem;
    height: 3rem;
    -webkit-line-clamp: 2;
  }
}
@media (max-width: 600px) {
  .inner {
    margin: 2% 8%;
  }

  img {
    margin: 0 10%;
    width: 80%;
    height: 25vw;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
  }

  .tourInform {
    padding-top: 30px;
    justify-content: space-around;
  }
  .tourInform .sight {
    margin: 0 10% 20px;
    width: 80%;
  }
  .tourInform .inform1 p:first-child {
    word-break: keep-all;
  }
  .tourInform .inform1 p:nth-child(3) {
    display: none;
  }
  .tourInform .inform2 {
    width: 90%;
  }
  .tourInform .inform2 div:first-child {
    line-height: 1.5rem;
    height: 3rem;
    -webkit-line-clamp: 2;
  }

  .notFind.on {
    margin-top: 25px;
  }
}

/*# sourceMappingURL=TourComponent.css.map */
